:root {
    --primario: #660ef2;
    --secundario: #ffb100;
    --fuente: 'Roboto', sans-serif;
}

body {
    font-family: var(--fuente);
}

.header {
    background-color: var(--primario) !important;
}

.header h1 {
    color: var(--secundario);
    font-weight: 900;
}

.header p {
    font-size: 2rem;
    margin: 0;
}

.seccion h1 {
    color: var(--primario);
    font-weight: 900;

}

/*   
.seccion{ 
    background-color: red;
    margin-bottom: 1rem;
}
*/